<div class="row">
  <div class="col-sm-12">
    <mat-card class="card">
      <mat-card-title class="card-header">New Product <mat-spinner [diameter]="20" *ngIf="!isLoaded"></mat-spinner></mat-card-title>
      <mat-card-content class="card-body">
        <form [formGroup]="form" (ngSubmit)="create()" [hidden]="!isLoaded">

          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input type="text" matInput placeholder="Name" formControlName="name" name="name">

                <mat-error *ngIf="form.get('name').touched && form.get('name').hasError('required')">
                  Name is required
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-sm-2">
              <mat-form-field appearance="outline">
                <mat-label>Quanity</mat-label>
                <input type="number" matInput placeholder="Quanity" formControlName="quantity" name="quantity">

                <mat-error *ngIf="form.get('quantity').touched && form.get('quantity').hasError('required')">
                  quantity is required
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-sm-2 col-xs-6">
              <mat-form-field appearance="outline">
                <mat-label>Price</mat-label>
                <input type="number" matInput placeholder="Price" formControlName="price" name="price">
                <mat-error *ngIf="form.get('price').touched && form.get('price').hasError('required')">
                  Price is required
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-sm-2 col-xs-6">
              <mat-form-field appearance="outline">
                <mat-label>Special Price</mat-label>
                <input type="number" matInput placeholder="Special Price" formControlName="specialPrice" name="specialPrice">
                <mat-error *ngIf="form.get('specialPrice').touched && form.get('specialPrice').hasError('required')">
                  Special Price is required
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-sm-4 col-xs-6">
              <mat-form-field appearance="outline">
                <mat-label>Slug</mat-label>
                <input type="text" matInput placeholder="Slug" formControlName="slug" name="slug">

                <mat-error *ngIf="form.get('slug').touched && form.get('slug').hasError('required')">
                  Slug is required
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-sm-8 col-xs-12">
              <mat-form-field class="example-chip-list" appearance="outline" #chipListField>
                <mat-label>Select Categories</mat-label>
                <mat-chip-list #chipList aria-label="Category selection">
                  <mat-chip
                    *ngFor="let category of categoryList"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(category)"
                    >
                    {{category.name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input
                    placeholder="Select Categories..."
                    #categoryInput
                    [formControl]="categoryControl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option
                  *ngFor="let category of filteredCategories | async"
                  [value]="category"
                  [disabled]="this.categoryList.includes(category)">
                    {{category.name}}
                    <span *ngIf="this.categoryList.includes(category)">(Selected)</span>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>

            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Description</mat-label>
                <textarea type="textarea" matInput rows="5" cols="40" placeholder="Description" formControlName="description" name="description"></textarea>
                <mat-error *ngIf="form.get('description').touched && form.get('description').hasError('required')">
                  Description is required
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-sm-6 col-xs-6 images-block">
              <mat-list>
                <div mat-subheader>Main Image</div>
                <mat-list-item>
                  <div class="has-image-uploader has-image">

                    <div class="image">
                      <input type="text" formControlName="mainImageControl" value="" name="mainImageControl" [hidden]="true">
                      <img [src]="mainImagePath"  alt="">
                    </div>

                    <div class="content">
                      <mat-icon mat-list-icon>image</mat-icon>
                      <div mat-line disable="true">Choose File</div>
                    </div>

                    <ik-upload fileName="product_main" [useUniqueFileName]="true"
                    (onSuccess)="uploadMainImageSuccess($event)" (onError)="uploadMainImageError($event)" class="field" folder="products" [hidden]="isSubmitted"></ik-upload>

                  </div>

                </mat-list-item>
              </mat-list>
            </div>

          </div>

          <div class="action-block mt-3">
            <button type="submit"
            mat-raised-button color="primary"
            [disabled]="isSubmitted || !form.valid"> Submit </button>
            <mat-spinner [diameter]="20" class="ms-2" *ngIf="isSubmitted && 'form.valid'"></mat-spinner>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
