<div class="block carousel-block mb-3">
  <div class="title-container with-sub">
    <h2 class="title-head">Today’s popular picks</h2>
    <div class="title-sub">See what’s catching people’s attention.</div>
  </div>
  <div class="carousel-items product-image-cards medium">
    <div class="product-card" *ngFor="let product of products">
      <a [routerLink]="'/p/'+product.slug">
        <div class="image">
          <img [src]="imagePrefix + product.mainImagePath" class="img-responsive">
        </div>
      </a>
      <a [routerLink]="'/p/'+product.slug"><div class="name">{{product.name}}</div></a>
      <div class="price-block">
        <div class="special-price">{{product.specialPrice}}</div>
        <div class="price">{{product.price}}</div>
      </div>
    </div>
  </div>
</div>

<div class="block">
  <div class="title-container with-sub">
    <h2 class="title-head"><span class="highlight-red">Deal</span> of the day</h2>
    <div class="title-sub">See bonus deals.</div>
  </div>
  <div class="carousel-items product-image-cards special small">
    <div class="product-card horizontal">

      <div class="row">

        <div class="col-4" *ngIf="products[0] != undefined">
          <a class="image" [routerLink]="'/p/' + products[0].slug">
            <img [src]="imagePrefix + products[0].mainImagePath" class="img-responsive">
          </a>
        </div>
        <div class="col-7" *ngIf="products[0] != undefined">
          <a [routerLink]="'/p/' + products[0].slug"><div class="name">{{products[0].name}}</div></a>
          <div class="price-block">
            <div class="special-price">{{products[0].specialPrice}}</div>
            <div class="price">{{products[0].price}}</div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
