<mat-card class="card">
  <mat-card-title class="card-header text-center">Admin Login</mat-card-title>
  <mat-card-content class="card-body">
    <form [formGroup]="form" (ngSubmit)="login()">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="text" matInput placeholder="Email" formControlName="email" name="email">

        <mat-error *ngIf="form.get('email').touched && form.get('email').hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="
        form.get('email').touched
        && !form.get('email').hasError('required')
        && form.get('email').hasError('email')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password"
        matInput
        placeholder="Password"
        formControlName="password"
        [type]="passwordToggle ? 'password' : 'text'"
        >
        <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="passwordToggle = !passwordToggle"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="passwordToggle"
        [disabled]="isSubmitted"
        >
          <mat-icon>{{passwordToggle ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        <mat-error *ngIf="form.get('password').touched && form.get('password').hasError('required')">
          Password is required
        </mat-error>
        <mat-error *ngIf="
        form.get('password').touched
        && !form.get('password').hasError('required')
        && form.get('password').hasError('minlength')">
          Password should be of minimum 4 characters
        </mat-error>
      </mat-form-field>

      <div class="action-block">
        <button type="submit"
        mat-raised-button color="primary"
        [disabled]="isSubmitted || !form.valid"> Login </button>
        <mat-spinner [diameter]="20" class="ms-2" *ngIf="isSubmitted && 'form.valid'"></mat-spinner>
      </div>
    </form>
  </mat-card-content>
</mat-card>
