<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button *ngIf="isLogged()">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <a mat-button [routerLink]="'/'"><h1>Shopon</h1></a>
    <span class="menu-spacer"></span>
    <div class="header-right">
      <a mat-button mat-mini-fab *ngIf="isLogged()" aria-label="Logout" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </a>
    </div>
 </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" autosize>
	<mat-sidenav #sidenav mode="side" class="sidenav">
		<mat-nav-list>
        <a mat-list-item [routerLink]="link.url" *ngFor="let link of links"> {{link.name}} </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <router-outlet (deactivate)='onRouterDeactivate($event)'></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
