<div class="card">
  <h5 class="card-header">Products <mat-spinner [diameter]="20" *ngIf="!ready"></mat-spinner></h5>
  <div class="card-body">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table table-bordered" matSort>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>


        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
          <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <ng-container matColumnDef="special_price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Special Price </th>
          <td mat-cell *matCellDef="let element"> {{element.special_price}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
             <a mat-mini-fab color="primary" aria-label="Edit" href="/admin/product/{{element.id}}" class="me-2">
              <mat-icon>edit</mat-icon>
            </a>
            <a mat-mini-fab color="warn" aria-label="Edit" href="/admin/product/{{element.id}}/delete">
              <mat-icon>delete</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="5" class="text-center">No data available.</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[25, 50, 100, 500]" showFirstLastButtons></mat-paginator>
    </div>

  </div>
</div>
