*, :after, :before {
  box-sizing: border-box;
}

/** Toolbar Starts */

.toolbar .spacer{
  flex: 1 1 auto;
}

.toolbar .toolbar-left, .toolbar .toolbar-right{
  display: flex;
  align-items: center;
  width: auto;
}

.toolbar .actions, .card-header .actions, .toolbar .actions .action .action-container{
  display: flex;
  align-items: center;
}

.toolbar .actions .action{
  height: auto;
  display: flex;
  align-content: center;
  padding: 0 1.25rem;
}
.front .toolbar .actions .action{
  padding: 0px;
}

.toolbar .actions .action.user-action{
  padding: 0;
}

.toolbar .user-action{
  display: flex;
  cursor: pointer;
}

.toolbar .user-action .user-container{
  position: relative;
  display: flex;
  align-items: center;
}

.toolbar .user-action .user-container .user-button{
  display: flex;
}

/** Toolbar Ends */

/** Card start */

.card-header .actions .action{
  display: flex;
  align-content: center;
  padding-left:10px;
}

.card .card-header .mat-progress-spinner, mat-card-title .mat-progress-spinner{
  float: right;
}


/** Card ends */


/** Main Container start */

.main-container{
  padding: 2.25rem 2.25rem .75rem;
}

/** Layout ends */

/** Table start */

table{
  line-height: 1.5em;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

table img{
  max-width: 50px;
  max-height: 50px;
}

/** Table ends */

/** Sidenav starts */

.sidenav-container {
  height: 100vh;
}

.sidenav {
   user-select: none;
   max-width: 300px;
   min-width: 200px;
}

/** Sidenav ends */



.full-width {
  width: 100%;
}

.mat-icon-button.mat-mini-fab{
  display: flex;
  align-items: center;
  justify-content: center;
}

app-admin-login mat-card{
  max-width: 350px;
}

.action-block{
  display: flex;
  align-items: center;
}

/** Form start */

form .has-image-uploader{
  display: flex;
  align-items: start;
}

form .images-block{
  margin-bottom: 2rem;
}

form .extra-images .has-image-uploader{
  display: inline-block;
  padding-right: 24px;
}

form .extra-images .has-image-uploader .content{
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-top: 10px;
}

form .extra-images .has-image-uploader ik-upload.field{
  position: absolute;
  opacity: 0;
  bottom: 87px;
  max-width: 111px;
}

form .has-image-uploader ik-upload input{
  cursor: pointer;
}

form .has-image-uploader .image img, form .has-image-uploader .image{
  max-width: 125px;
  max-height: 125px;
}

form .has-image-uploader -item-content {
  align-items: start !important;
}

form .has-image-uploader .content{
  display: flex;
  align-items: center;
  margin-left: 15px;
}

form .has-image-uploader mat-icon{
  margin-right: 12px;
}

form .has-image-uploader.has-image ik-image{
  position: absolute;
}

form .has-image-uploader ik-upload.field{
  position: absolute;
  opacity: 0;
}

form .mat-subheader{
  color: rgba(0,0,0,.54);
  font-weight: 500;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 10px;
  padding-top: 10px;
}

/** Form end */

/** Menu start */

.toolbar .menu-items{
  display: flex;
  align-items: center;
}

/** Menu end */

.front .actions .action .icon{
  margin-right: 10px;
}

/** Front start */

.layout.front .main-container{
  padding: 0px;
}

.front .info-block{
  background: #fff;
  padding: 15px 0px;
}

.front .block{
  background: #fff;
  border: 1px solid #e0e6ef;
}

.front .block{
  padding: 15px 20px;
}

.front .block.with-image1{
  background: url(https://pisces.bbystatic.com/image2/BestBuy_US/dam/ghp-MMT-416248-appls-memday-c51b535f-39c5-4fd9-b84a-6cfdf43f604b.jpg);
  min-height: 600px;
  background-position: top center;
  background-size: cover;
}

.front .b-row{
  margin-bottom:15px;
}

.front .carousel-block .title-container.with-sub .title-head, .front .title-container.with-sub .title-head{
  margin: 0 0 5px;
}

.front .carousel-block .title-container .title-sub, .form .title-container .title-sub{
  font-size: 14px;
}

.front .carousel-block .title-container, .front .product-image-cards .product-card.horizontal .name{
  margin-bottom: 15px;
}

.front .product-image-cards{
  display: flex;
  align-items: flex-start;
}

.front .product-image-cards .product-card:hover img{
  margin-top: -5px;
}

.front .product-image-cards .product-card{
  padding: 15px 20px;
  font-size: .9375rem;
  line-height: 1.25rem;
}


.front .product-image-cards.medium .product-card .name{
  white-space: nowrap;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.front .product-image-cards.medium .product-card{
  max-width: 200px;
}

.front .product-image-cards.special {
  width: 100%;
}

.front .highlight-red{
  background-color: #d70505;
  color: #fff;
  padding: 2px 5px;
  border-radius: 2px;
}

.front .product-image-cards .product-card .image{
  margin-bottom: 15px;
  transition: all .2s ease-in-out;
  min-height: 150px;
}

.front .product-image-cards .product-card a{
  text-decoration: none;
  color: #222b45;
}

.front .product-image-cards .product-card a:hover{
  text-decoration: underline;
  color:blue;
}

.front .product-image-cards .product-card .price-block{
  display: flex;
}

.front .product-image-cards .product-card .special-price{
  text-decoration: line-through;
  color: #868686;
  font-size: 14px;
}

.front .product-image-cards .product-card .price{
  padding-left: 3px;
  font-weight: 500;
}

.front .product-image-cards .product-card.horizontal .price{
  font-size: 22px;
}

.front .product-image-cards .image img{
  max-width: 150px;
  max-height: 150px;
  transition: all .2s ease-in-out;
}

/** Front end */
