*, :after, :before {
  box-sizing: border-box;
}

/** Toolbar Starts */

.toolbar .spacer{
  flex: 1 1 auto;
}

.toolbar .toolbar-left, .toolbar .toolbar-right{
  display: flex;
  align-items: center;
  width: auto;
}

.toolbar .actions, .card-header .actions{
  display: flex;
  align-items: center;
}

.toolbar .actions .action{
  height: auto;
  display: flex;
  align-content: center;
  padding: 0 1.25rem;
}

.toolbar .actions .action.user-action{
  padding: 0;
}

.toolbar .user-action{
  display: flex;
  cursor: pointer;
}

.toolbar .user-action .user-container{
  position: relative;
  display: flex;
  align-items: center;
}

.toolbar .user-action .user-container .user-button{
  display: flex;
}

/** Toolbar Ends */

/** Card start */

.card-header .actions .action{
  display: flex;
  align-content: center;
  padding-left:10px;
}

.card .card-header .mat-progress-spinner, mat-card-title .mat-progress-spinner{
  float: right;
}


/** Card ends */


/** Main Container start */

.main-container{
  padding: 2.25rem 2.25rem .75rem;
}

/** Layout ends */

/** Table start */

table{
  line-height: 1.5em;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

/** Table ends */

/** Sidenav starts */

.sidenav-container {
  height: 100vh;
}

.sidenav {
   user-select: none;
   max-width: 300px;
   min-width: 200px;
}

/** Sidenav ends */



.full-width {
  width: 100%;
}

app-admin-login mat-card{
  max-width: 350px;
}

/* .menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}

.menu-button.rotated {
  transform: rotate(180deg);
} */


/* .submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}

.submenu.expanded {
  transform: scaleY(1);
} */

.action-block{
  display: flex;
  align-items: center;
}

